*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    align-content: center;
    background-image: url(https://img.freepik.com/premium-photo/person-playing-video-game-with-keyboard-background_1281132-1289.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: sans-serif;
}
main{
    width: 50%;
    height: 60vh;
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.171);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 2px solid rgba(255, 255, 255, 0.49);
}
main h1{
    font-size: 27px;
    padding-bottom: 2%; 
}
main p{
    font-size: 20px;
    padding-bottom: 3%;
}
input{
    width: 50%;
    height: 6vh;
    padding-left: 2%;
    border-radius: 8px;
    border: 0;
    outline: 0;
    margin-bottom: 3%;
}
button{
    padding: 2% 5%;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: 13px;
}
#result{
    padding-top: 2%;
}


/* Media Query */

@media (max-width: 428px) {
    main{
        width: 90%;
    }

    main h1{
        font-size: 20px;
        padding-bottom: 4%; 
    }
    main p{
        font-size: 21px;
        padding-bottom: 4%;
    }
    input{
        width: 70%;
        height: 7vh;
        padding-left: 4%;
        margin-bottom: 4%;
    }
    button{
        padding: 4% 8%;
    }
    #result{
        padding-top: 3%;
    }
    
}